
<%= form_with model: @exercise_menu, url: '/exercise_menus', method: :post, local: true do |f| %>
<% @exercise_suggestions.each do |exercise_suggestion| %>
<div class="card mb-3 mx-auto" style="max-width: 540px; margin: 50px 0px 50px 0px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div><iframe  class="bd-placeholder-img" width="100%" height="280" src="https://www.youtube.com/embed/<%= exercise_suggestion.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title"><span>運動の目的: </span><%= @exercise_menu.exercise_purpose %></h5>
        <p class="card-text"><span>運動の目標: </span><%= @exercise_menu.exercise_goal %></p>
        <p class="card-text"><%= exercise_suggestion.title %></p>
        <p class="card-text"><%= exercise_suggestion.published_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
        <p class="card-text"><%= exercise_suggestion.channel_title %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="text-center">
  <%= f.hidden_field :exercise_purpose, :value => @exercise_menu.exercise_purpose %>
  <%= f.hidden_field :exercise_goal, :value => @exercise_menu.exercise_goal %>
<%= f.submit '登録', class: "text-center btn btn-primary" %>
</div>
<% end %>