<div class="container">
  <div class="row">
    <table class="table col-lg-12">
      <thead>
        <tr>
          <th>運動メニュー</th>
          <th>コメント</th>
          <th>コメント一覧</th>
          <th>コメント作成</th>
          <th>評価</th>
          <th></th>
          <th></th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
          <% @exercise_menus.each do |exercise_menu| %>
          <tr>
            <td><%= exercise_menu.exercise_purpose %></td>
            <td><%= exercise_menu.comments.count %></td>
            <td>
              <%= link_to '詳細', exercise_menu_path(exercise_menu.id) %>
            </td>
            <td></td>
            <td>
             <% if exercise_menu.liked_by?(current_user) %>
             <p>
              <%= link_to exercise_menu_likes_path(exercise_menu.id), method: :delete do %>
              ♡️️ <%= exercise_menu.likes.count %>いいね
             </p>
              <% end %>
              <% else %>
             <p>
              <%= link_to exercise_menu_likes_path(exercise_menu.id), method: :post do %>
              ♡ <%= exercise_menu.likes.count %>いいね
              <% end %>
             </p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="exercise-menu-new">
  <%= link_to '運動メニュー作成へ', new_exercise_menu_path %>
</div>

