  <% lastLike = 0 %>
  <% j = 1 %>
  <% @exercise_menus.each.with_index(1) do |exercise_menu, i| %>
    <% if i == 1 %>
     <% lastLike = exercise_menu.likes.count %>
    <% end %>
    <% if exercise_menu.likes.count != lastLike %>
     <% j = i %>
    <div class="text-center">
      第<%= j %>位
    </div>
    <%= render 'exercise_menus/ranking', exercise_menu: exercise_menu %>
    
    <% lastLike = exercise_menu.likes.count %>
    <% else %>
    <% lastLike = exercise_menu.likes.count %>
    <div class="text-center">
     第<%= j %>位
    </div>
    <%= render 'exercise_menus/ranking', exercise_menu: exercise_menu %>
    <% end %>
  <% end %>


<div class="exercise-menu-new">
  <%= link_to '運動メニュー作成へ', new_exercise_menu_path %>
</div>


