<div class="container">
  <div class="row">
    <table class="table col-lg-8">
      <thead>
        <tr>
          <th>メールアドレス</th>
          <th>コメント</th>
          <th>コメント作成</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr>
           <% @users.each do |user| %>
          <td><%= user.email %></td>
          <td class="comments">
            <p>コメント件数:<%= user.comments.count %></p>
            <% user.comments.each do |comments| %>
            <%= comments.user.name %>
            <%= comments.created_at.strftime('%Y/%m/%d') %><%= comments.comment %>
            <% end %>
          </td>
          <%= form_with(model:[user, @comment],local: true) do |f| %>
          <td class="new-comment">

　　　　　　<%= f.text_area :comment, placeholder: "コメントはここに" %>

          </td>
          <td><%= f.submit '送信' %></td>

          <% end %>
          <% end %>
        </tr>

      </tbody>
    </table>
  </div>
</div>