<div class="container" style="margin-top: 50px;">
  <div class="page-header text-center">
   <h1>お問い合わせ</h1>
  </div>

  <%= form_with model: @inquiry, url: "/inquiries/confirmation", method: :post, local: true do |f| %>
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容に誤りがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name , class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.text_field :reply_email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :お問い合わせ内容 %>
          <%= f.text_area :message,  class: 'form-control', style: 'height: 200px;' %>
        </div>
        <div class="actions text-center">
          <%= f.submit '確認', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

