<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseSuggestion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, inicial-scale=1, maximum-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5/css/bootstrap.min.css">
  </head>


  <body class="d-flex flex-column vh-100 bg-color" data-turbolinks = "false" style="height: 100%;">
    <header class="bg-color2 text-light">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container">
          <p class="navbar-brand p-3 header-title"><i class="fas fa-running pr-3"></i>Exercise Suggestion</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "運動メニュー一覧", exercise_menus_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '運動動画一覧へ', youtubes_path, class: 'nav-link text-white'%>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    </main>
    <footer class="bg-color2 text-white" style="margin-top: 50px;">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-8 mx-auto">
            <div class="d-flex justify-content-between pt-5">
              <p>
                <%= link_to '利用規約', page_path('terms'), class: 'text-white-50', style: 'text-decoration: none;'%>
              </p>
              <p>
                <%= link_to 'プライバシーポリシー', page_path('privacy'), class: 'text-white-50', style: 'text-decoration: none;' %>
              </p>
              <a href="/inquiries" class="text-white-50" style="text-decoration: none;">お問い合わせ</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-8 mx-auto pt-3 pb-3">
            <p class="text-center">© 2021 Exercise Suggestion</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
